.header {
  background-color: #2a96e8;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.subheader {
  --background: #f5f6f9;
}

.label {
  font-size: 16px;
  color: #505050;
  font-weight: bold;
}

.noHighlight {
  --background: var(--secondary-color);
}


.ionic-padding-left{
  padding-left: 16px;
}

.admin-emails-padding-left{
  padding-left: 22px;
}

.ionic-margin-left{
  margin-left: 16px;
}

.new-admin-email-label{
  font-size: 22px;
}

.existing-admin-email{
  font-size:15px;
}

.form-warning{
  color: red;
  font-weight: bold;
  display:inline-block;
}

@keyframes form-warning-flash{
  0% {color: rgb(255, 180, 180);
      transform: scale(.50)}
  33% {color: rgb(255, 121, 121);
    transform: scale(1.00)}
  66% {color: rgb(255, 60, 60);
    transform: scale(1.10)}
  100% {color: rgb(255, 0, 0);
    transform: scale(1.00)}
}

.animate-form-warning{
  animation-name: form-warning-flash;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: none;
}

.feedback-email-width{
  width: 30%;
}