.noHighlight {
  --background: var(--secondary-color);
}

#schedule {
  width: 60%;
  display: inline;
}

.listLabel {
  color: white;
}

#listCont {
  border-right: 1px solid black;
}

.my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
  top: 0;
  left: 0;
}

#eventDetails {
  background-color: aliceblue;
  width: 50%;
  top: 30%;
  margin: auto;
}