<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <h2>
            iMatter Opioid Recovery Application:  Privacy Policy 
          </h2>
          <br>
          <hr>
          <h4>
            Purpose:
          </h4>
          <hr>
          <p>
            The iMatter project is a research project aimed at exploring how web technologies could provide seamless support for recovery programs, by extended access to a positive social network, informational resources, and motivational tools to outpatients with limited access to in-person support services.  By design, iMatter aims to be maximally anonymous to protect the privacy of users.  This means that minimal information on users is collected or stored, i.e., just the user’s email address to use for logging into the app; there is no connection to the user’s actual real world identity beyond this is ever requested or stored.  In general, all app-related information is hosted on a secure cloud server within a Virtual Private Cloud for maximum access control.   No information related to this project is ever sold or made available publicly; it is used strictly by the research team for research purposes.  
          </p>
          <br>
          <hr>

          <h4>Required Resources:</h4>
          <hr>
          <p>
            The only access to the user’s smartphone resources requested by iMatter is access to the “Location” (GPS) of the phone.  This information is used solely within the “Information Resources” module of iMatter, to allow iMatter to show recovery resources nearest to the user’s current location.  Location information is not saved, stored, or shared in any way.  
          </p>
          <br>
          <hr>

          <h4>Data Confidentiality:</h4>
          <hr>
          <p>
            iMatter is currently a research application and, as such, is governed by strict research and data management rules, which are reviewed, monitored and enforced by the Institutional Research Board (IRB) at Northern Arizona University.  Data on app usage and feedback by test users is treated confidentially, accessible only to active members of the iMatter research team.  
          </p>
          <br>
          <hr>

          <h4>Contact:</h4>
          <hr>
          <p>
            For more information contact Principal Investigators Dr. Emery Eaves (<a href="Emery.Eaves@nau.edu">Emery.Eaves@nau.edu</a>)  or Dr. Eck Doerry (<a href="eck.doerry@nau.edu">eck.doerry@nau.edu</a>).
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
